.loukoumi {
	width: 50%;
	lenth: 50%;

}
.makaronia {
	width:  100%;
}
h3 { color: olive; 
	}

.burger { 
width: 50%; 
}

div {
	margin-bottom: 50px;
}
.hello {
	text-align: center;
}